<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Sport_Meetup</title>

  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- <link rel="stylesheet" href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css"> -->
  <link type="text/css" rel="stylesheet" href="../css/materialize.min.css" media="screen,projection" />
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="shortcut icon" type="image/png" href="../images/favicon.png">

  <link rel="stylesheet" href="../styles/styles.css">

</head>

<body>
  <div class="navbar-fixed">
    <nav class="navbar-fixed nav-extended grey lighten-4">
      <div class="navbar-fixed blue darken-2 my-navbar">
        <a href="#" class="brand-logo right">Sports_MeetUp</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="left hide-on-med-and-down">
          <li><a href="current_event.html">Current Event</a></li>
          <li><a href="Your_event.html">Your Event</a></li>
          <li><a href="Create_event.html">Create Event</a></li>
        </ul>
      </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
      <li><a href="current_event.html">Current Event</a></li>
      <li><a href="Your_event.html">Your Event</a></li>
      <li><a href="Create_event.html">Create Event</a></li>
    </ul>
  </div>

  <div class="main-container">
            {{{body}}}
      </div>
      <footer>
        <div class="footer blue darken-2">
          &copy; copyright 2018 - Sports_MeetUp
        </div>
      </footer>

  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js" integrity="sha384-kW+oWsYx3YpxvjtZjFXqazFpA7UP/MbiY4jvs+RWZo2+N94PFZ36T6TFkc9O3qoB"
       crossorigin="anonymous"></script>

      <!--JavaScript at end of body for optimized loading-->
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

</body>

</html>