<div class="divider"> </div>
  <div id="scrollBar" class="col s4">
    <div class="divider"></div>
    <div class="section">
      <div class="row">
        <div class="col s12 m12">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Your Selected Sport MeetUp</span>
              <p>Here are all the details.</p>
              <p id="where">Where?.......... </p>
              <p id="time">At......... - pm/am</p>
              <p id="location">Located...</p><br>
              <p id="host">Hosted by JohnDoe@yahoo.com</p>
              <br>
              <p id="description">Details:<br>Bleghbleghvomit my furball really tie the room together
                meow to be let in make meme, make cute face cat fur is the new black . Stand in
                doorway, unwilling to chose whether to stay in or go out this cat happen now, it was
                too purr-fect!!! claw at curtains stretch and yawn nibble on tuna ignore human bite
                human hand yet run around the house at 4 in the morning allways wanting food bring your
                owner a dead bird. Gnaw the corn cob licks your face chase imaginary bugs hide when
                guests come over carefully drink from water glass and then spill it everywhere and
                proceed to lick the puddle i can haz cat ass trophy. Meowzer sit in box, scream at teh
                bath intently sniff hand, but kitty ipsum dolor sit amet, shed everywhere shed
                everywhere stretching attack your ankles chase the red dot, hairball run catnip eat the
                grass sniff, cat fur is the new black .</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>