<div class="section">
        <div class="row">
            <div class="col s6">
                <ul class="concept">
                    <li>
                        <h4><i class="material-icons md-icon-36">device_hub</i> Don't wait...Create you account now and
                            Sports_MeetUp!</h4>
                    </li>
                    <li>
                        <h6><i class="material-icons blue darken-2">done_all</i>&nbsp Create your event</h6>
                    </li>
                    <li>
                        <h6><i class="material-icons blue darken-2">done_all</i>&nbsp Join an event</h6>
                    </li>
                    <li>
                        <h6><i class="material-icons blue darken-2">done_all</i>&nbsp Connect and Meet new friends</h6>
                    </li>
                </ul>
            </div>
            <!-- Sign in Form -->
            <div class="main-container">
                <div class="col s6">
                    <div class="row">
                        <style>
                            .carousel .carousel-item {
                              width: 100%;
                            }
                            </style>
                        <div class="col s10">
                            <ul class="tabs tabs-fixed-width tab-demo z-depth-1">
                                <li class="tab"><a class="active" href="#test1">login</a></li>
                                <li class="tab"><a href="#test2">Sign up</a></li>
                            </ul>
                        </div>
                        <div>
                            <div id="test1" class="col s12">
                                <form>
                                    <div class="form-container">
                                        <div class="row">
                                            <div class="input-field col s6">
                                                <input id="email" type="email" class="validate">
                                                <label for="email">Email</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s6">
                                                <input id="password" type="password" class="validate">
                                                <label for="password">Password</label>
                                            </div>
                                        </div>
                                        <button class="btn waves-effect waves-light blue darken-2" type="submit" name="action">Connect</button>
                                        <br>
                                        <br>
                                        <a href="">
                                            <font size="2">Forgotten password?</font>
                                        </a>
                                    </div>
                                </form>
                                </div>
                            <!-- Sign uo form -->
                            <div id="test2" class="col s10">
                                <form>
                                    <div class="form-container">
                                        <div class="row">
                                            <div class="input-field col s6">
                                                <input id="last_name" type="text" class="validate">
                                                <label for="last_name">First Name</label>
                                            </div>
                                            <div class="input-field col s6">
                                                <input id="last_name" type="text" class="validate">
                                                <label for="last_name">Last Name</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input id="email" type="email" class="validate">
                                                <label for="email">Email</label>
                                            </div>
                                        </div>
                                        <div class="row">

                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input id="password" type="password" class="validate">
                                                <label for="password">Password</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input id="password-confirm" type="password" class="validate">
                                                <label for="password-confirm">Password Confirmation</label>
                                            </div>
                                        </div>
                                        <button class="btn waves-effect waves-light blue darken-2" type="submit" name="action">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>