.list-group-item {
  line-height: 2.5;
}

body {
  position: relative;
  min-height: 100vh;
}

#scrollBar {

  width: 33.3%;
  height: 800px;
  overflow: scroll;
  margin-bottom: 40px;
}

.section {
  height: 20%;
  padding: 0px;
  margin: 0px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: lightcoral;
  color: black;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
}

#logo {
  color: black
}

.carousel .carousel-item {
  width: 100%;
}

.brand-logo {
  margin-right: 20px;
  margin-inline-start: 20px;
}

.main-container {
  margin-top: 110px;
}

.concept {
  margin-left: 30px;
  margin-right: 30px;
}

.title-row {
  margin: grey;
}

/* Below is the styling applied to my-event.html */
#body-wrapper {
  margin-left: 100px;
  margin-right: 100px;
}

#table-title {
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

th {
  font-size: 20px;
}

td {
  font-size: 15px;
}

td,
th {
  border: 0px;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#mapDiv {
  height: 600px;
}